.note-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8%;
}

.note-expansion-panel {
  margin: 0% auto;
  width: 40vw;
}

.note-mat-form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.note-mat-card-list {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
